{% extends 'home/user_profile.html' %}
{% load static %}

{% block title %}Saved{% endblock title %}

{% block post-class %}{% endblock post-class %}
{% block save-class %}active{% endblock save-class %}


{% block main-content %}

{% if saved_posts %}
    {% for saved_post in saved_posts %}
        <a href="{% url 'home:post' saved_post.post.id %}">
            <div class="post">
                <img src="{{ saved_post.post.content.url }}">
                <div class="CQLDr">
                    {% if saved_post.post.caption %}
                        <p>{{saved_post.post.caption}}</p>
                    {% else %}
                        <p>{{saved_post.post.date_published}}</p>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
{% else %}
    <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">No posts</h1>
{% endif %}

{% endblock main-content %}

