{% extends 'home/main.html' %}
{% load static %}

{% block title %}
{{user.username}} - Profile
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">

<header class="IzmRQ">
    <div class="profile-pic">
        <img src="{{user.imageURL}}" alt="">
    </div>
    <div class="account-stats">
        <div class="account-name">
            <h1>{{user.username}}</h1>


            {% if request.user.is_authenticated %}
                {% if request.user.id == user.id %}
                    <a href="{% url 'account:settings' %}">
                        <p class="edit-profile">Edit Profile</p>
                    </a>
                {% else %}
                    <form action="{% url 'home:user_profile' user.username %}" method="POST">{% csrf_token %}
                        {% if obj %}
                            <button type="submit" name="follow" class="btn btn-outline-dark">Unfollow</button>
                        {% else %}
                            <button type="submit" name="follow" class="btn follow-btn">Follow</button>
                        {% endif %}
                        </form>
                {% endif %}
            {% else %}            
                <a href="{% url 'account:login' %}" class="btn follow-btn">Login to Follow</a>
            {% endif %}
        </div>

        <div class="rGMLL">
            <ul>
                <li><span style="font-weight: bold;">0</span> <span style="font-weight: 500;"> Posts</span></li>
                <li><span style="font-weight: bold;">{{followers}}</span> <span style="font-weight: 500;"> Followers</span></li>
                <li><span style="font-weight: bold;">{{following}}</span> <span style="font-weight: 500;"> Following</span></li>
            </ul>
        </div>

        <div class="VgCm">
            {% if user.name %}
                <p>{{user.name}}</p>
            {% endif %}

            {% if user.bio %}
                <div class="bio">
                    <p>{{user.bio}}</p>
                    <p>{{user.bio}}</p>
                    <p>{{user.bio}}</p>
                </div>
            {% endif %}

            {% if user.website %}
                <a href="{{user.website}}" target="_blank" style="color: rgb(31,79,125) !important;">{{user.website}}</a>
            {% endif %}


        </div>
    </div>
</header>

<div class="iYLoO">
    <a href="{% url 'home:user_profile' user.username %}">
        <span class="c {% block post-class %}active{% endblock post-class %}">
            <svg aria-label="" class="_8-yf5 " color="#262626" fill="#262626" height="12" role="img" viewBox="0 0 48 48" width="12"><path clip-rule="evenodd" d="M45 1.5H3c-.8 0-1.5.7-1.5 1.5v42c0 .8.7 1.5 1.5 1.5h42c.8 0 1.5-.7 1.5-1.5V3c0-.8-.7-1.5-1.5-1.5zm-40.5 3h11v11h-11v-11zm0 14h11v11h-11v-11zm11 25h-11v-11h11v11zm14 0h-11v-11h11v11zm0-14h-11v-11h11v11zm0-14h-11v-11h11v11zm14 28h-11v-11h11v11zm0-14h-11v-11h11v11zm0-14h-11v-11h11v11z" fill-rule="evenodd"></path></svg> Posts
        </span>
    </a>
    {% if request.user.id == user.id %}
        <a href="{% url 'home:saved_post' %}">
            <span class="c {% block save-class %}{% endblock save-class %}">
                <svg color="#8e8e8e" fill="#8e8e8e" height="12" role="img" viewBox="0 0 48 48" width="12"><path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path></svg>
                Saved
            </span>
        </a>
    {% endif %}
</div>


<main class="content-container">
    <div class="content-div">

        {% block main-content %}
        {% if user_posts %}
            {% for post in user_posts %}
                <a href="{% url 'home:post' post.id %}">
                    <div class="post">
                        <img src="{{ post.content.url }}">
                        <div class="CQLDr">
                            {% if post.caption %}
                                <p>{{post.caption}}</p>
                            {% else %}
                                <p>{{post.date_published}}</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
        <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">No posts</h1>
        {% endif %}
        {% endblock main-content %}
            
    </div>
</main>

{% endblock content %}
